PORT= your port number

POSTGRES_USER= 
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL= your database connection string (e.g., postgres://user:password@localhost:5432/dbname)

CLIENT_URL= your client application URL (e.g., http://localhost:5173)

NODE_ENV= your environment (e.g., development, production)

LOG_LEVEL=info, debug, error, etc. (e.g., debug)



JWT_ACCESS_SECRET=your_access_secret
JWT_REFRESH_SECRET=your_refresh_secret

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12