PORT= your port number
DATABASE_URL= your database connection string (e.g., postgres://user:password@localhost:5432/dbname)
JWT_SECRET= your JWT secret key
CLIENT_URL= your client application URL (e.g., http://localhost:5173)
NODE_ENV= your environment (e.g., development, production)
LOG_LEVEL=info, debug, error, etc. (e.g., debug)
